<launch>
  <arg name="pointcloud_file" default="$(env HOME)/terrain.xyz"/>
  <arg name="resolution" default="0.25"/>
  <arg name="levels" default="4"/>
  <arg name="output_dir" default="$(env HOME)/traversability_ros_output"/>

  <node pkg="traversability_planner"
        type="terrain_aware_planner_node.py"
        name="terrain_aware_planner"
        output="screen">
    <param name="pointcloud_file" value="$(arg pointcloud_file)"/>
    <param name="resolution" value="$(arg resolution)"/>
    <param name="levels" value="$(arg levels)"/>
    <param name="output_dir" value="$(arg output_dir)"/>
  </node>
</launch>

